.but {
    border: 1px solid #3B5998;
    color: #000000;
    font-family: arial;
    font-size: 12px;
    height: 21px;
}

.spy {
	 padding: 10px 10px 10px 10px;
  background:#D2D8B4;
  border-top: 1px solid #9D0303;
}


.spy ul{
 margin-left:0px;
 font-size:14px;
 line-height:normal;
 padding: 0px 0px 0px 0px;
 color:#000000;

}
.spy li{
  border:1px solid gray;
  list-style:none
  height:auto;
  list-style-type:none;
  width:710px;
  overflow:hidden;
  margin-bottom: 10px;
 
}
.spy .txt{
  padding:4px 4px 4px 4px;
  background-color:#ffffff;
  height:auto;
  zoom:1;
   
}
.spy .title{
  font:bold 14px/14px verdana;
  height:22px;
  border-bottom: 1px solid #000000;
}

.titlehead{
	font-size: 14px;
	color: #339999;
	margin-top: 0px;
	padding-top: 0px;
}

.spy .titleheaddiv{
    height:20px;
	width:auto;	
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999; 
	padding:0px 4px 4px 4px;
	
}

.spy  a:link {
    color: #336699;
	font-size:12px;
    text-decoration: underline;
	
}
.spy a:visited {
    color: #666699;
	font-size:12px;
    text-decoration: underline;
	
}
.spy a:hover {
    color: #CC66CC;
	font-size:12px;
    text-decoration: none;
}
.spy a:active {
    background: none repeat scroll 0 0 #FF9933;
    color: #FFFFFF;
	font-size:12px;
    text-decoration: none;
}

.spy .bottom{
  padding:6px 4px 4px 4px;
  font: 14px/14px verdana;
  height:20px;
  border-top: 1px solid #000000;
clear: both;
}

.spy .daan{
 padding:6px 6px 6px 6px;
 border: 1px solid #9D0303;
}


.testspy {
	 padding: 10px 10px 10px 10px;
  background:#D8DFEA;
  border-top: 1px solid #3B5998;
height: 3000px;
}


.zwright {
	height: 950px;
	width: 320px;
	float: right;
}

.zwtestright {
	height: 950px;
	width: 620px;
	float: right;
}
.zwleft {
	height: auto;
	width: 600px;
	float: left;
}

.zwtestleft {
	height: auto;
	width: 306px;
	float: left;
}
